@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset done */

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
    font-size: 35px;
    font-weight: 600;
	/* margin: 2vh 0; */
	transform: translateY(-290%);
	color: white;
}

nav {
	border: 1px solid black;
	padding: 2vh;
	margin: -10vh 10vw;
	/* background: #106d3acc; */
	background: #9b2f34cc;
}

section {
	height: 100vh;
}

a {
	color: white;
}

.nav-item {
	border: 1px solid rgba(0, 0, 0, 0.267);
	padding: 4vh 7vw;
	transition: 0.25s;
	border-radius: 7px;
	cursor: pointer;
}

.nav-item:hover{
	/* box-shadow: 0px 0px 10px white; */
	box-shadow: 6px 6px 2px white;
	color: white;
}

#circle {
	height: 400px;
	width: 400px;
	margin: 0;
	border-radius: 50%;
	box-shadow: 2px 2px 100px black;
}

#name {
	text-shadow: 2px 2px 10px black;
}

#header-background {
	display: flex;
	justify-content: center;
	transform: translateY(-40%);
}

#header-links {
	margin-top: 40px;
	font-size: 50px;
	color: white;
}

.fab {
	transition: 0.15s text-shadow;
	border-radius: 50%;
	color: white;
}

.fab:hover {
	text-shadow: 2px 2px 5px black;
}

#landing {
	height: 100vh;
	background-color: gray;
	background-image: url('../assets/mountain-background.jpg');
	background-size: cover;
}

#fixed-content {
	position: fixed;
}

#about {
	background: linear-gradient( to bottom, #a3bfe4, #4c4161)
}

#section-title {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	font-size: 45px;
	font-weight: 600;
	text-decoration: underline;
}

#personal-photo {
	height: 65vh;
	clip-path: polygon(50% 0%, 88% 48%, 50% 100%, 12% 50%);
	margin-top: 13vh;
	float: right;
}

#about-blurb {
	margin-top: 10vh;
	margin-left: 5vw;
	width: 40vw;
	height: 45vh;
	padding: 4vw;
	font-size: 2.5vh;
	border: 3px solid rgb(119, 119, 119);
	border-radius: 20% 0 20% 0;
	background: rgba(128, 128, 128, 0.13)
	
}

#projects {
	background: linear-gradient( to bottom, #4c4161, #6e3867);
}

#project-section {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
}

.project-card {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 30vh;
	text-align: center;
	border: 1px solid black;
	width: 25vw;
	height: 10vh;
	padding: 1.5vw;
}

.project-title {
	margin-bottom: 1vh;
	font-size: 30px;
	/* text-decoration: underline; */
}

h2.project-title {
	text-decoration: none;
}

.project-description {
	font-size: 20px;
	border: 3px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	background-color: rgb(68, 36, 128);
	box-shadow: -4px 4px 0 2px white;
}

#contact {
	background: linear-gradient( to bottom, #6e3867, #99425c)
}