@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: 'Nunito', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS reset done */

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
    font-size: 35px;
    font-weight: 600;
	/* margin: 2vh 0; */
	transform: translateY(-290%);
	color: white;
}

nav {
	border: 1px solid black;
	padding: 2vh;
	margin: -10vh 10vw;
	background: #0e54bd9d;
}

section {
	height: 100vh;
}

a {
	color: white;
	transition: 0.15s color;
}

a:hover {
	color: rgb(165, 165, 165);
}

.nav-item {
	border: 1px solid rgba(0, 0, 0, 0.267);
	padding: 4vh 7vw;
	transition: 0.25s;
	border-radius: 7px;
	cursor: pointer;
	font-weight: 600;
}

.nav-item:hover{
	box-shadow: 6px 6px 2px white;
	color: white;
}

.nav-item:active, .nav-item:focus {
	box-shadow: none;
	color: black;
}

#circle {
	height: 400px;
	width: 400px;
	margin: 0;
	border-radius: 50%;
	box-shadow: 2px 2px 100px black;
}

#name {
	text-shadow: 2px 2px 10px black;
}

#header-background {
	display: flex;
	justify-content: center;
	transform: translateY(-40%);
}

#header-links {
	margin-top: 40px;
	font-size: 50px;
	color: white;
}

.fab {
	transition: 0.15s text-shadow;
	border-radius: 50%;
	color: white;
}

.fab:hover {
	text-shadow: 2px 2px 5px black;
}

#landing {
	height: 100vh;
	background-color: gray;
	background-image: url('./assets/mountain-background.jpg');
	background-size: cover;
}

#fixed-content {
	position: fixed;
}

#about {
	background: linear-gradient( to bottom, #a3bfe4, #4c4161)
}

.section-title {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	font-size: 45px;
	font-weight: 600;
	text-decoration: underline;
}

#about-content {
	display: flex;
	flex-flow: row nowrap;
}

#personal-photo {
	height: 65vh;
	clip-path: polygon(50% 0%, 88% 48%, 50% 100%, 12% 50%);
	margin-top: 13vh;
	order: 2;
	/* float: right; */
}

#about-blurb {
	margin-top: 10vh;
	margin-left: 5vw;
	width: 40vw;
	height: 450px;
	padding: 7vh 4vw;
	font-size: 23px;
	border: 3px solid rgb(119, 119, 119);
	border-radius: 20% 0 20% 0;
	background: rgba(128, 128, 128, 0.13)
	
}

#projects {
	background: linear-gradient( to bottom, #4c4161, #6e3867);
}

#project-section {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
}

.project-card {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 30vh;
	text-align: center;
	border: 2px dashed black;
	border-radius: 5%;
	width: 25vw;
	padding: 1.5vw;
	background-color: rgba(124, 124, 124, 0.308);
}

.project-title {
	margin-bottom: 1vh;
	font-size: 30px;
}

.project-image {
	height: 210px;
	margin: 2vh 0;
	border: 1px solid black;
}

.project-description {
	font-size: 20px;
	border: 2px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	background-color: rgb(106, 58, 196);
	box-shadow: -6px 6px 0 2px white;
}

#contact {
	background: linear-gradient( to bottom, #6e3867, #99425c);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#contact-info {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	border: 2px dashed black;
	border-radius: 3%;
	width: 350px;
	margin: 300px 0;
	padding: 4vh 1.5vw;
	font-size: 20px;
	background-color: rgba(124, 124, 124, 0.308);
}

.contact-icon {
	padding: 10px 0;
	font-size: 40px;
}

@media only screen and (max-width: 1366px){
	#personal-photo {
		height: 60vh;
	}

	#about-blurb {
		font-size: 18px;
		height: 400px;
	}

	.project-image {
		height: 160px;
	}

	#contact-info {
		margin: 200px 0;
	}
}

@media only screen and (max-width: 1280px){
	#personal-photo {
		height: 425px;
	}

	#about-blurb {
		height: 425px;
	}

	.project-image {
		height: 150px;
	}
}

@media only screen and (max-width: 1024px){
	ul {
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
	}

	nav {
		margin-top: -100px
	}

	.nav-item {
		padding: 3vh 7vw;
		margin: 1vh 0;
	}

	.section-title {
		padding-top: 2.5vh;
	}

	#about-content {
		flex-flow: column nowrap;
		align-items: center;
	}

	#about-blurb {
		font-size: 0.8em;
		width: 75vw;
		height: 25vh;
		padding-top: 30px;
		margin-top: 5vh;
	}

	#personal-photo {
		height: 40vw;
		/* width: 600px; */
		margin-top: 2.5vh;
		order: 0;
	}

	#project-section {
		flex-flow: column nowrap;
	}

	.project-card {
		margin: 1vh 15vw;
		width: 70vw;
		padding: 2.5vw;
		padding-top: 10px;
	}

	.project-image {
		height: 95px;
		margin: 1vh 0;
	}

	.project-description {
		font-size: 17px;
	}
}

@media only screen and (max-width: 600px){
	nav {
		margin-top: -200px
	}

	.section-title {
		font-size: 9vw;
	}

	#about-blurb {
		height: 37vh;
		font-size: 3vw;
	}

	.project-title {
		font-size: 4.5vw;
		padding: 0;
	}

	.project-image {
		height: 25vw;
	}

	.project-description {
		font-size: 3.25vw;
	}

	#contact-info {
		width: 80vw;
	}
}